<form ng:submit="ctrl.postMessage()" novalidate>
    <div class="form-group">
        <label>Author</label>
        <input type="text" ng:model="ctrl.newMessage.author" class="form-control" />
    </div>

    <div class="form-group">
        <label>Message</label>
        <input type="text" ng:model="ctrl.newMessage.text" class="form-control" />
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-success">Send!</button>
    </div>
</form>
