<h1>Notice Board</h1>

<new-message-form on:post="ctrl.postMessage(message)"></new-message-form>

<hr>

<div class="panel panel-default" ng:repeat="message in ctrl.messages">
    <div class="panel-body">
        {{message.text}}
    </div>
    <div class="panel-footer text-right">
        Written by <strong>{{message.author}}</strong> on <em>{{message.date | amDateFormat: 'YYYY/MM/DD HH:mm'}}</em>
    </div>
</div>
