<div class="container">
    <h1 class="text-center">Notice Board</h1>
    <div class="panel">
        <div class="panel-body">
            <form id="new-message-form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        Autore
                    </span>
                    <input type="text" name="author" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        Messaggio
                    </span>
                    <input type="text" name="text" class="form-control">
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">Post</button>
            </div>
        </form>    
    </div>
    
    <div id="messages">{messages}</div>    
</div>
