<div class="panel panel-default">
    <div class="panel-body">
        {text}
    </div>
    <div class="panel-footer text-right">
        Posted by <strong>{author}</strong> on <em>{date}</em>
    </div>
</div>