<!DOCTYPE html>
<html lang="en" ng:app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Notice Board</title>
    <base href="/">
</head>
<body>
    <div class="container">
        <ui:view></ui:view>
    </div>
    <script src="app.js"></script>
</body>
</html>
